body,
footer {
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}

table {
	border-collapse: separate;
	border-spacing: 1px;
	border: none;
}

.pageHeader {
    text-align: center;
    width: 100%;
}

.timelineBase {
    margin: 0;
    padding: 0;
    display: flex;
}
/*    margin-left: 301px;
*/
.timeline {
    padding: 0;
    overflow: auto;
}


.timelineTable {
    border-collapse: collapse;
    table-layout: fixed;
    border: none;
}

.showHide {
    display: inline;
}

input,
div.groupHeader {
    float: left;
    width: 240px;
}
.submit,
.groupHeader,
.headerInfo {
    height: 30px;
}

.groupHeader {
    font-weight: bold;
    font-size: large;
    padding-top: 5px;
}

.submit {
    padding-top: 10px;
}

.headerInfo {
    text-align: right;
    vertical-align: bottom;
    float: right;
    padding-right: 10px;
}

img.headerInfo {
    padding-top: 10px;
    padding-right: 0;
    display: block;
    height: 15px;
    width: 15px;
}

.yearHead,
.headcol {
    position: absolute;
    min-width: 290px;
    max-width: 290px;
    left: 0;
    top: auto;
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
    background: linear-gradient(to right, #c5d3ed, white);
}

.displayHeader {
    float: left;
    padding-left: 5px;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.displayHeader:hover {
    overflow: visible;
}

span.hideDisplayResults {
    float: left;
    vertical-align: bottom;
    visibility: hidden;
    max-width: 10px;
    min-width: 10px;
    color: red;
    cursor: default;
}

.yearHead, .year {
    color: white;
    background: #305496;
    height: 20px;
}

.year {
    text-align: center;
    font-weight: bold;
}

.searchTerm,
.searchTerm {
    text-align: left;

}


td,
.summary-event,
.query-event,
.display-event {
    min-width: 3pt;
    max-width: 3pt;
}

td, th {
    display: table-cell;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
    color: black;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: middle;
    border: none;
    white-space: nowrap;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}


tr {
    margin: 0 0 0 0;
}

.results {
    display: table-row;
    height: 18px;
    padding: 0 0 0 0;
}

.summary-event,
.query-event,
.display-event {
    max-height: 10px;
    box-sizing: border-box;
}

    .summary-event,
    .summary-event:link,
    .summary-event:visited {
        background: #7570b3;
        color: #7570b3;
    }

    .query-event,
    .query-event:link,
    .query-event:visited {
        background: #d95f02;
        color: #d95f02;
    }

    .display-event,
    .display-event:link,
    .display-event:visited {
        background: #1b9e77;
        color: #1b9e77;
    }

.footer,
.footer-left,
.footer-right {
    background-color: slategrey;
    color: white;
    height: 40px;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: small;
}

.footer {
    text-align: center;
}

footer,
.footer-left,
.footer-right {
    z-index: 1;
}

.footer-left, 
.footer-right {
    width: 15%;
    min-width: 300px;
    padding: 5px 5px 5px 5px;
}

.footer-left {
    float: left;
    text-align: left;
}

.footer-right {
    float: right;
    text-align: right;
}

.tagCloudHeader {
    background-color: blueviolet;
    color: white;
    width:100%;
    z-index: 2;
}

.tagCloudHeader_left,
.tagCloudButton_left{
    float: left;
    text-align: left;
    z-index: 2;
}

.tagCloudHeader_right,
.tagCloudButton_right {
    float: right;
    text-align: right;
    z-index: 2;
}

.tagCloudButton_left,
.tagCloudButton_right {
    padding: 0 5px 0 5px;
    vertical-align: middle;
    z-index: 2;
}

#showTagCloud_button {
    display: inline;
}

#tagCloud {
    display: block;
}

#hideTagCloud_button,
#showMinorTags_button {
    display: inline;
}

#showTagCloud_button,
#hideMinorTags_button {
    display: none;
}

.tagCloudHeader_left,
.tagCloudHeader_right {
    width: 50px;
}

.tagCloud,
.tagCloudHeader{
    text-align: center;
}

span.tagCloud {
    text-align: center;
    cursor: cell;
}

div.tagCloud {
    padding: 0 50px 25px 50px;
    background-color: lavender;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.tag1,
.tag2,
.tag3,
.tag4,
.tag5,
.tag6,
.tag7,
.tag8,
.tag9 {
    font-family: Arial;
    padding: 0 10px 0 10px;
    color: cornflowerblue;
}

.tag1 {
    font-size: xx-small;
    display: none;
}
.tag2 {
    font-size:x-small;
}
.tag3 {
    font-size: small;
    font-weight: bold;
}
.tag4 {
    font-size: medium;
}
.tag5 {
    font-size: medium;
    font-weight: bold;
}
.tag6 {
    font-size: large;
}
.tag7 {
    font-size: large;
    font-weight: bold;
}
.tag8 {
    font-size: xx-large;
}
.tag9 {
    font-size: xx-large;
    font-weight: bold;
}

.tagCloudButton_left,
.tagCloudButton_right {
    cursor: default;
}

.form {
    float: left;
    max-width: 290px;
    min-width: 290px;
    background: linear-gradient(to right, #c5d3ed, white);
    overflow: visible;
    padding: 20px 0 0 10px;
}

.info {
    padding: 10px 10px 10px 0;
    font-family: 'Times New Roman';
    font-size: medium;
}

td.info {
    padding: 0 10px 2px 0;
    width: auto;
    max-width: none;
    min-width: unset;
    vertical-align: top;
    text-align: left;
}

